RewriteEngine On

# Force www redirect
RewriteCond %{HTTP_HOST} ^growthpulss\.com [NC]
RewriteRule ^(.*)$ https://www.growthpulss.com/$1 [R=301,L]

# Remove index.html from URL completely
RewriteCond %{THE_REQUEST} \s/+index\.html[\s?] [NC]
RewriteRule ^index\.html$ https://www.growthpulss.com/ [R=301,L]

# Prevent direct access to index.html
RewriteCond %{REQUEST_URI} ^/index\.html$ [NC]
RewriteRule ^(.*)$ https://www.growthpulss.com/ [R=301,L]

# Set DirectoryIndex to index.html but hide it from URL
DirectoryIndex index.html

AddType application/xml .xml
AddType text/xml .xml

<Files "sitemap.xml">
    Header set Content-Type "application/xml; charset=utf-8"
</Files>

# Security: Block malicious directories
RedirectMatch 403 ^/temp/.*$
RedirectMatch 403 ^/private/.*$
RedirectMatch 403 ^/cache/.*$
RedirectMatch 403 ^/includes/.*$
RedirectMatch 403 ^/old/.*$

# Block suspicious file access
<FilesMatch "\.(php|phtml|php3|php4|php5|pl|py|jsp|asp|sh|cgi)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Allow only your legitimate PHP files if needed
<Files "index.php">
    Order Allow,Deny
    Allow from all
</Files>

# Return 410 Gone for spam URLs
RewriteRule ^product/335202897/?$ - [G,L]
RewriteRule ^product/305613025/?$ - [G,L]
RewriteRule ^product/296499397/?$ - [G,L]
RewriteRule ^product/258117181/?$ - [G,L]
RewriteRule ^product/267547753/?$ - [G,L]
RewriteRule ^product/309624053/?$ - [G,L]
RewriteRule ^product/97666637\.html/?$ - [G,L]
RewriteRule ^product/257371817/?$ - [G,L]
RewriteRule ^product/304286597/?$ - [G,L]
RewriteRule ^product/330179905/?$ - [G,L]
RewriteRule ^shop/order/make_estimate/?$ - [G,L]
RewriteRule ^product/279216897/?$ - [G,L]
RewriteRule ^product/349226305/?$ - [G,L]
RewriteRule ^shop/userreview/write/?$ - [G,L]
RewriteRule ^product/312611089/?$ - [G,L]
RewriteRule ^product/293067201/?$ - [G,L]
RewriteRule ^product/350329657/?$ - [G,L]
RewriteRule ^product/285653985/?$ - [G,L]
RewriteRule ^product/282298297/?$ - [G,L]
RewriteRule ^product/317866209/?$ - [G,L]
RewriteRule ^product/275978389/?$ - [G,L]
RewriteRule ^product/275225337/?$ - [G,L]
RewriteRule ^product/288907745/?$ - [G,L]
RewriteRule ^toyu/top/CSfTop/?$ - [G,L]
RewriteRule ^shop/pg/1SiteUse/?$ - [G,L]
RewriteRule ^shop/pg/1AgreementInfo/?$ - [G,L]
RewriteRule ^shop/customer/menu/?$ - [G,L]
RewriteRule ^shop/pg/1sancyoku/?$ - [G,L]
RewriteRule ^shop/pg/1howto/?$ - [G,L]
RewriteRule ^shop/pg/1AvailableInfo/?$ - [G,L]
RewriteRule ^shop/pg/1SiteUse/?$ - [G,L]
RewriteRule ^shop/pg/1recruit/?$ - [G,L]
RewriteRule ^shop/e/e009001036001/?$ - [G,L]
RewriteRule ^shop/storeSearch/KeepCriteriaInput/?$ - [G,L]
RewriteRule ^shop/pg/1005022001/?$ - [G,L]
RewriteRule ^shop/cart/cart/?$ - [G,L]
RewriteRule ^shop/pg/1005024240/?$ - [G,L]
RewriteRule ^shop/storeSearch/CriteriaInput/?$ - [G,L]
RewriteRule ^shop/category/categorylist/?$ - [G,L]
RewriteRule ^shop/pg/1Sitemap/?$ - [G,L]
RewriteRule ^shop/pg/1005024010/?$ - [G,L]
RewriteRule ^shop/order/make_estimate\?locker_flg=true/?$ - [G,L]
RewriteRule ^shop/pg/1005024164/?$ - [G,L]
RewriteRule ^shop/pg/1005024086/?$ - [G,L]
RewriteRule ^shop/e/e009001044001/?$ - [G,L]
RewriteRule ^category/bureki/?$ - [G,L]
RewriteRule ^category/o-tobai/?$ - [G,L]
RewriteRule ^category/toyota/?$ - [G,L]
RewriteRule ^category/burekipaddo/?$ - [G,L]
RewriteRule ^toyu/top/CKmSpSfTop/?$ - [G,L]
RewriteRule ^contents/renga/?$ - [G,L]
RewriteRule ^shop/customer/bookmark_guest/?$ - [G,L]
RewriteRule ^reserve/tool/?$ - [G,L]
RewriteRule ^contents/reform/?$ - [G,L]
RewriteRule ^information/privacy_policy\.html/?$ - [G,L]
RewriteRule ^pw/?$ - [G,L]
RewriteRule ^jukyuban/?$ - [G,L]
RewriteRule ^hg/?$ - [G,L]
RewriteRule ^product/281927909/?$ - [G,L]
RewriteRule ^product/284804089/?$ - [G,L]
RewriteRule ^product/327556313/?$ - [G,L]
RewriteRule ^product/324034589/?$ - [G,L]
RewriteRule ^product/252045149\.html/?$ - [G,L]
RewriteRule ^product/268183005/?$ - [G,L]
RewriteRule ^product/274720161/?$ - [G,L]
RewriteRule ^product/316959769/?$ - [G,L]
RewriteRule ^product/314778857/?$ - [G,L]
RewriteRule ^product/322284329/?$ - [G,L]
RewriteRule ^product/203953609\.html/?$ - [G,L]
RewriteRule ^product/296322077/?$ - [G,L]
RewriteRule ^product/329440617/?$ - [G,L]
RewriteRule ^product/294434053/?$ - [G,L]
RewriteRule ^product/271670753/?$ - [G,L]
RewriteRule ^product/312852889/?$ - [G,L]
RewriteRule ^product/340480089/?$ - [G,L]
RewriteRule ^product/273958553/?$ - [G,L]
RewriteRule ^product/319608533/?$ - [G,L]
RewriteRule ^product/330634861/?$ - [G,L]
RewriteRule ^product/301396901/?$ - [G,L]
RewriteRule ^product/276879745/?$ - [G,L]
RewriteRule ^product/317622921/?$ - [G,L]
RewriteRule ^product/289318185/?$ - [G,L]
RewriteRule ^product/266259145/?$ - [G,L]
RewriteRule ^product/270304025/?$ - [G,L]
RewriteRule ^product/277366941/?$ - [G,L]
RewriteRule ^product/313546049/?$ - [G,L]
RewriteRule ^product/282804713/?$ - [G,L]
RewriteRule ^product/341977389/?$ - [G,L]
RewriteRule ^product/340001325/?$ - [G,L]
RewriteRule ^product/137364617\.html/?$ - [G,L]
RewriteRule ^product/273403405/?$ - [G,L]
RewriteRule ^product/268444893/?$ - [G,L]
RewriteRule ^product/257921633/?$ - [G,L]
RewriteRule ^product/157665401\.html/?$ - [G,L]
RewriteRule ^product/320045385/?$ - [G,L]
RewriteRule ^product/261062677/?$ - [G,L]
RewriteRule ^product/300310909/?$ - [G,L]
RewriteRule ^product/351062373/?$ - [G,L]
RewriteRule ^product/287301449/?$ - [G,L]
RewriteRule ^product/277728897/?$ - [G,L]
RewriteRule ^product/284597877/?$ - [G,L]
RewriteRule ^product/307928973/?$ - [G,L]
RewriteRule ^product/261890005/?$ - [G,L]
RewriteRule ^product/319509705/?$ - [G,L]
RewriteRule ^product/265342413/?$ - [G,L]
RewriteRule ^product/275179953/?$ - [G,L]
RewriteRule ^product/285192581/?$ - [G,L]
RewriteRule ^product/259609149/?$ - [G,L]
RewriteRule ^product/258406473/?$ - [G,L]
RewriteRule ^product/309140205/?$ - [G,L]
RewriteRule ^product/312284225/?$ - [G,L]
RewriteRule ^product/303045109/?$ - [G,L]
RewriteRule ^product/285344357/?$ - [G,L]
RewriteRule ^product/347420617/?$ - [G,L]
RewriteRule ^product/293133665/?$ - [G,L]
RewriteRule ^product/345502833/?$ - [G,L]
RewriteRule ^product/266663633/?$ - [G,L]
RewriteRule ^product/303638077/?$ - [G,L]
RewriteRule ^product/258521421/?$ - [G,L]
RewriteRule ^product/281727773/?$ - [G,L]
RewriteRule ^product/321480561/?$ - [G,L]
RewriteRule ^product/327211841/?$ - [G,L]
RewriteRule ^product/325621789/?$ - [G,L]
RewriteRule ^product/270727113/?$ - [G,L]
RewriteRule ^product/314318073/?$ - [G,L]
RewriteRule ^product/269463801/?$ - [G,L]
RewriteRule ^product/346955493/?$ - [G,L]
RewriteRule ^product/323715661/?$ - [G,L]
RewriteRule ^product/292584345/?$ - [G,L]
RewriteRule ^product/128077637\.html/?$ - [G,L]
RewriteRule ^product/290614481/?$ - [G,L]
RewriteRule ^product/337449777/?$ - [G,L]
RewriteRule ^product/349594337/?$ - [G,L]
RewriteRule ^product/302848321/?$ - [G,L]
RewriteRule ^product/295634993/?$ - [G,L]
RewriteRule ^product/300906977/?$ - [G,L]
RewriteRule ^product/301063837/?$ - [G,L]
RewriteRule ^product/328679381/?$ - [G,L]
RewriteRule ^product/293889321/?$ - [G,L]
RewriteRule ^product/286385709/?$ - [G,L]
RewriteRule ^product/280279577/?$ - [G,L]
RewriteRule ^product/289461033/?$ - [G,L]
RewriteRule ^product/182211573\.html/?$ - [G,L]
RewriteRule ^product/299622585/?$ - [G,L]
RewriteRule ^product/332586621/?$ - [G,L]
RewriteRule ^product/307150377/?$ - [G,L]
RewriteRule ^product/331282637/?$ - [G,L]
RewriteRule ^product/263766249/?$ - [G,L]
RewriteRule ^product/267129997/?$ - [G,L]
RewriteRule ^product/338061345/?$ - [G,L]
RewriteRule ^product/323836437/?$ - [G,L]
RewriteRule ^product/324971285/?$ - [G,L]
RewriteRule ^product/257187181/?$ - [G,L]
RewriteRule ^product/273059057/?$ - [G,L]
RewriteRule ^product/284962809/?$ - [G,L]
RewriteRule ^product/279401781/?$ - [G,L]
RewriteRule ^product/297369381/?$ - [G,L]
RewriteRule ^product/318455581/?$ - [G,L]
RewriteRule ^product/271004625/?$ - [G,L]
RewriteRule ^product/335849929/?$ - [G,L]
RewriteRule ^product/279569181/?$ - [G,L]
RewriteRule ^product/281243801/?$ - [G,L]
RewriteRule ^product/262946485/?$ - [G,L]
RewriteRule ^product/317549389/?$ - [G,L]
RewriteRule ^product/269259697/?$ - [G,L]
RewriteRule ^product/321333745/?$ - [G,L]
RewriteRule ^product/322895897/?$ - [G,L]
RewriteRule ^product/265456865/?$ - [G,L]
RewriteRule ^product/333194841/?$ - [G,L]
RewriteRule ^product/284109193/?$ - [G,L]
RewriteRule ^product/265293433/?$ - [G,L]
RewriteRule ^product/298836549/?$ - [G,L]
RewriteRule ^product/266546453/?$ - [G,L]
RewriteRule ^product/295062485/?$ - [G,L]
RewriteRule ^product/278798025/?$ - [G,L]
RewriteRule ^product/324158713/?$ - [G,L]
RewriteRule ^product/334727605/?$ - [G,L]
RewriteRule ^product/341669373/?$ - [G,L]
RewriteRule ^product/276536389/?$ - [G,L]
RewriteRule ^product/338539613/?$ - [G,L]
RewriteRule ^product/232991185\.html/?$ - [G,L]
RewriteRule ^product/291929377/?$ - [G,L]
RewriteRule ^product/276997793/?$ - [G,L]
RewriteRule ^product/331029925/?$ - [G,L]
RewriteRule ^product/298128261/?$ - [G,L]
RewriteRule ^product/209744285\.html/?$ - [G,L]
RewriteRule ^product/302314501/?$ - [G,L]
RewriteRule ^product/299246865/?$ - [G,L]
RewriteRule ^product/280192529/?$ - [G,L]
RewriteRule ^product/325800101/?$ - [G,L]
RewriteRule ^product/328304281/?$ - [G,L]
RewriteRule ^product/260460905/?$ - [G,L]
RewriteRule ^product/264294241/?$ - [G,L]
RewriteRule ^product/346207153/?$ - [G,L]
RewriteRule ^product/291431517/?$ - [G,L]
RewriteRule ^product/342552997/?$ - [G,L]
RewriteRule ^product/262325121/?$ - [G,L]
RewriteRule ^product/261523709/?$ - [G,L]
RewriteRule ^product/280716057/?$ - [G,L]
RewriteRule ^product/302802069/?$ - [G,L]
RewriteRule ^product/319336229/?$ - [G,L]
RewriteRule ^product/336783897/?$ - [G,L]
RewriteRule ^product/308390997/?$ - [G,L]
RewriteRule ^product/148341097\.html/?$ - [G,L]
RewriteRule ^product/336623565/?$ - [G,L]
RewriteRule ^product/312728889/?$ - [G,L]
RewriteRule ^product/296741197/?$ - [G,L]
RewriteRule ^product/332051437/?$ - [G,L]
RewriteRule ^product/289798561/?$ - [G,L]
RewriteRule ^product/286515785/?$ - [G,L]
RewriteRule ^product/257144401/?$ - [G,L]
RewriteRule ^product/288049789/?$ - [G,L]
RewriteRule ^product/340255277/?$ - [G,L]
RewriteRule ^product/262056909/?$ - [G,L]
RewriteRule ^product/261932537/?$ - [G,L]
RewriteRule ^product/282687161/?$ - [G,L]
RewriteRule ^product/304951485/?$ - [G,L]
RewriteRule ^product/363962837\.html/?$ - [G,L]
RewriteRule ^product/256680517/?$ - [G,L]
RewriteRule ^product/307295457/?$ - [G,L]
RewriteRule ^product/89452753\.html/?$ - [G,L]
RewriteRule ^product/336381021/?$ - [G,L]
RewriteRule ^product/312139269/?$ - [G,L]
RewriteRule ^product/326569521/?$ - [G,L]
RewriteRule ^product/271749245/?$ - [G,L]
RewriteRule ^product/333915653/?$ - [G,L]
RewriteRule ^product/283619889/?$ - [G,L]
RewriteRule ^product/278447477/?$ - [G,L]
RewriteRule ^product/264805617/?$ - [G,L]
RewriteRule ^product/327882681/?$ - [G,L]
RewriteRule ^product/346744197/?$ - [G,L]
RewriteRule ^product/314856605/?$ - [G,L]
RewriteRule ^product/272714337/?$ - [G,L]
RewriteRule ^product/286069633/?$ - [G,L]
RewriteRule ^product/161686969\.html/?$ - [G,L]
RewriteRule ^product/321716781/?$ - [G,L]